@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    background-color: #001220;
}

nav {
    font-family: 'Fredoka One', cursive;
    color: white;
}

table,td,th {
    border: 1px solid;
}

th {
    padding: 10px;
}

table {
    border-collapse: collapse;
}

.checked {
    color: orange;
}

table tr {
    text-align: left;
}

tr:first-child {
    text-align: center;
}

.navbar-brand {
    font-family: 'Fredoka One', cursive;
}

.input-group-x {
    font-size: 1.4rem;
}